# This is Git's per-user configuration file.
[user]
	email = 82794982+OSCH2008@users.noreply.github.com
	name = OSCH2008
# Please adapt and uncomment the following lines:
[credential]
	helper = store

[init]
	defaultBranch = main
